<div class="pagination"><%= will_paginate models %></div>
    <table class="table table-striped">
		<tr>
			<th><%= t('RFQ') %></th>
			<th><%= t('Quote Task') %></th>
			<th><%= t('Quote Date') %></th>
			<th><%= t('Qty') %></th>
			<th><%= t('Product Unit Price') %></th>	
			<th><%= t('Material WT(g)') %></th>
			<th><%= t('Material Unit Price($/kg)') %></th>		
			<th><%= t('Machining Cost') %></th>
			<th><%= t('Material Quoted') %></th>
			<th><%= t('Tooling Cost') %></th>
			<th><%= t('Void') %></th>
			<th><%= t('Quoted By') %></th>
			<th><%= t('Last Updated By') %></th>
			<th></th>
		</tr>
		<% models.each do |r| %>
		  <tr>
		  	<td><%= JobshopQuotex.quote_task_class.find_by_id(r.quote_task_id).name %></td>
		  	<td><%= r.created_at.strftime("%Y/%m/%d") %></td>
		  	<td><%= prt(r, :qty_quoted) %><%= prt(r, :unit) %></td>
			<td><%= prt(r, :unit_price) %></td>
			<td><%= prt(r, :material_wt) %></td>
			<td><%= prt(r, :material_unit_price) %></td>
			<td><%= prt(r, :machining_cost) %></td>
			<td><%= prt(r, :material_quoted) %></td>
			<td><%= prt(r, :tooling_cost) %></td>
			<td><%= t(prt(r, :void).to_s) %></td>
			<td><%= prt(r, 'quoted_by.name') %></td> 
			<td><%= prt(r, 'last_updated_by.name') %></td>    
			<td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{edit_quote_path(r)}", :class => BUTTONS_CLS['action']  if has_action_right?('update', params[:controller], r) %></td>
		  </tr>
		<% end %>
	</table>
	
	<table class="table table-striped">
	  <tr>
	    <th>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
	    	<%= link_to t('New Quote'), SUBURI + "/authentify/view_handler?index=1&url=#{new_quote_path(:quote_task_id => @quote_task.id, :parent_record_id => @quote_task.id, :parent_resource => JobshopQuotex.quote_task_class.underscore.pluralize)}", :class => BUTTONS_CLS['action']  if @quote_task && has_action_right?('create', params[:controller], @quote_task) %>
	    	<%= link_to t('Copy Last Quote'), SUBURI + "/authentify/view_handler?index=1&url=#{copy_last_quotes_path(:quote_task_id => @quote_task.id, :parent_record_id => @quote_task.id, :parent_resource => JobshopQuotex.quote_task_class.underscore.pluralize)}", :class => BUTTONS_CLS['action']  if models.present? && @quote_task && has_action_right?('create', params[:controller], @quote_task) %>
	    </th>
	  </tr>
	</table>
	
