<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
<div class="pagination"><%= will_paginate models %></div>
    <table class="table table-striped">
		<tr>
			<th><%= t('Q#')%></th>
			<th><%= t('Product/Drawing') %></th>
			<th><%= t('Quote Task') %></th>
			<th><%= t('Quote Date') %></th>
			<th><%= t('Qty') %></th>
			<th><%= t('Product Unit Price') %></th>	
			<th><%= t('Material WT(g)') %></th>
			<th><%= t('Material Unit Price($/kg)') %></th>		
			<th><%= t('Machining Cost') %></th>
			<th><%= t('Material Quoted') %></th>
			<th><%= t('Tooling Cost') %></th>
			<th><%= t('WF State') %></th>
			<th><%= t('Quoted By') %></th>
			<th><%= t('Last Updated By') %></th>
			<th></th>
			<th></th>
		</tr>
		<% models.each do |r| %>
		  <tr>
		  	<% if has_action_right?('show', params[:controller], r) %>
		  	  <td><%=link_to r.id.to_s, SUBURI + "/authentify/view_handler?index=1&url=#{quote_path(r)}", :class => BUTTONS_CLS['action']  %></td>
		  	<% else %>
		  	  <td><%= r.id %></td>
		  	<% end %>
		  	<td><%= JobshopQuotex.rfq_class.find_by_id(r.rfq_id).product_name + ' ' + JobshopQuotex.rfq_class.find_by_id(r.rfq_id).drawing_num %></td>
		  	<td><%= JobshopQuotex.quote_task_class.find_by_id(r.quote_task_id).name %></td>
		  	<td><%= r.created_at.strftime("%Y/%m/%d") %></td>
		  	<td><%= prt(r, :qty_quoted) %><%= prt(r, :unit) %></td>
			<td><%= prt(r, :unit_price) %></td>
			<td><%= prt(r, :material_wt) %></td>
			<td><%= prt(r, :material_unit_price) %></td>
			<td><%= prt(r, :machining_cost) %></td>
			<td><%= prt(r, :material_quoted) %></td>
			<td><%= prt(r, :tooling_cost) %></td>
			<td><%= t(prt(r, :wf_state).humanize) if r.wf_state.present? %></td>
			<td><%= prt(r, 'quoted_by.name') %></td> 
			<td><%= prt(r, 'last_updated_by.name') %></td>    
			<td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{edit_quote_path(r)}", :class => BUTTONS_CLS['action']  if (r.wf_state.nil? or r.wf_state == 'initial_state') && has_action_right?('update', params[:controller], r) %></td>
			<td><%= link_to t('Submit'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_quote_path(r, :wf_event => 'submit', :resource_id => r.id, :resource_string => params[:controller])}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'initial_state' && has_action_right?('submit', params[:controller], r) %></td>
			<td><%= link_to t('Approve'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_quote_path(r, :wf_event => 'approve', :resource_id => r.id, :resource_string => params[:controller])}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'being_reviewed' && has_action_right?('review', params[:controller], r) %></td>
			<td><%= link_to t('Reject'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_quote_path(r, :wf_event => 'reject', :resource_id => r.id, :resource_string => params[:controller])}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'being_reviewed' && has_action_right?('review', params[:controller], r) %></td>		  
		  </tr>
		<% end %>
	</table>
	
	<table class="table table-striped">
	  <tr>
	    <th>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
	    	<%= link_to t('New Quote'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape new_quote_path(:quote_task_id => @quote_task.id, :parent_record_id => @quote_task.id, :parent_resource => JobshopQuotex.quote_task_class.to_s.underscore.pluralize)}", :class => BUTTONS_CLS['action']  if @quote_task && has_action_right?('create', params[:controller], @quote_task) %>
	    	<%= link_to t('Open Process'), SUBURI + "/authentify/view_handler?index=1&url=#{list_open_process_quotes_path(:task_id => @quote_task.id, :parent_record_id => @quote_task.id, :parent_resource => JobshopQuotex.quote_task_class.to_s.underscore.pluralize)}", :class => BUTTONS_CLS['action']  if @quote_task && has_action_right?('list_open_process', params[:controller], @quote_task) %>
	    	<%= link_to t('Open Process'), SUBURI + "/authentify/view_handler?index=1&url=#{list_open_process_quotes_path}", :class => BUTTONS_CLS['action']  if @quote_task.nil? && has_action_right?('list_open_process', params[:controller], @quote_task) %>
	    	<%#= link_to t('Copy Last Quote'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape copy_last_quotes_path(:quote_task_id => @quote_task.id, :parent_record_id => @quote_task.id, :parent_resource => JobshopQuotex.quote_task_class.to_s.underscore.pluralize)}", :class => BUTTONS_CLS['action']  if models.present? && @quote_task && has_action_right?('create', params[:controller], @quote_task) %>
	    </th>
	  </tr>
	</table>

<% end %>	
